<%= bootstrap_form_for artist do |f| %>
    
    <div>
        <%= f.text_field :name %>    
    </div>
    
    
    <div class="form-group">
        <label for="artist_nationality">nationality : </label>
        <%= f.country_select :nationality, class:'form-control',priority_countries: ["KR", "US","JP"] %>
    </div>
    
    
    <div>
        <%= f.file_field :image, accept: 'image/jpeg, image/jpg, image/gif, image/png'%>
    </div>
    
    
    <%=f.submit %>
<% end %>
 <script>
    $('#artist_image').on('change',function(){
        var fileName = $(this).val().replace(/^.*[\\\/]/, '');
        $(this).next('.custom-file-label').html(fileName);
    })
 </script>